{% extends "base.html" %}

{% block body %}
{% if articles %}
  <ul>
    {% for article in articles %}
      <li><a href={{ article.get_absolute_url }}>{{ article.title }}</a></li>
      <p>by {{ article.author.first_name }}  {{ article.author.last_name }}</p>
      <p>{{ article.summary }}</p>
      <p>tags:
      {% for tag in article.get_tags_urls %}
        <a href={{ tag.url }}>{{ tag.name }}</a>
      {% endfor %}
      </p>
      <p></p>
      <p></p>
    {% endfor %}
  </ul>
{% else %}
  No articles.
{% endif %}

<div class="pagination">
    <span class="step-links">
        {% if articles.has_previous %}
            <a href="?page={{ articles.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
        </span>

        {% if articles.has_next %}
            <a href="?page={{ articles.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
