{% extends "base.html" %}

{% block body %}
  <ul>
    {% for contributor in authors %}
      <li><a href={{ contributor.get_absolute_url }}>{{ contributor.first_name }}
	  {{ contributor.last_name }}</a></li>
      <p></p>
    {% endfor %}
  </ul>

<div class="pagination">
    <span class="step-links">
        {% if articles.has_previous %}
            <a href="?page={{ authors.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
	  {% if authors.leading_range %}
	    {% for page in authors.leading_range %}
	      <a href="?page={{ page }}">{{ page }}</a>
	    {% endfor %}
	    {# Place dots after leading_range list. #}
	    ...
	  {% endif %}

	  {% for page in authors.main_range %}
	    <a href="?page={{ page }}">{{ page }}</a>
	  {% endfor %}

	  {% if authors.trailing_range %}
	    {# Place dots before trailing_range list. #}
	    ...
	    {% for page in authors.trailing_range %}
	      <a href="?page={{ page }}">{{ page }}</a>
	    {% endfor %}
	  {% endif %}
        </span>
        {% if authors.has_next %}
            <a href="?page={{ authors.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
