{% extends "base.html" %}

{% block body %}
{% if articles %}
  <ul>
    {% for article in articles %}
      <li><a href={{ article.get_absolute_url }}>{{ article.title }}</a></li>
      <p>by {{ article.author.first_name }}  {{ article.author.last_name }}</p>
      <p>{{ article.summary }}</p>
      <p>tags:
      {% for tag in article.get_tags_urls %}
        <a href={{ tag.url }}>{{ tag.name }}</a>
      {% endfor %}
      </p>
      <p></p>
      <p></p>
    {% endfor %}
  </ul>
{% else %}
  No articles.
{% endif %}

{% if articles %}
<div class="pagination">
    <span class="step-links">
        {% if articles.has_previous %}
            <a href="?page={{ articles.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
	  {% if articles.leading_range %}
	    {% for page in articles.leading_range %}
	      <a href="?page={{ page }}">{{ page }}</a>
	    {% endfor %}
	    {# Place dots after leading_range list. #}
	    ...
	  {% endif %}

	  {% for page in articles.main_range %}
	    <a href="?page={{ page }}">{{ page }}</a>
	  {% endfor %}

	  {% if articles.trailing_range %}
	    {# Place dots before trailing_range list. #}
	    ...
	    {% for page in articles.trailing_range %}
	      <a href="?page={{ page }}">{{ page }}</a>
	    {% endfor %}
	  {% endif %}
        </span>
        {% if articles.has_next %}
            <a href="?page={{ articles.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% endblock %}
