{% extends "base.html" %}

{% block body %}
<html>
    <head>
      <title>{{ article.title }}</title>
    </head>
    <body>
      {% block title %}<p>{{ article.title }}</p>
      {% endblock %}

      {% block author %}<p>{{ article.author.first_name}} {{article.author.last_name}}</p>
      {% endblock %}

      {% block images %}{% if images %}
        {% for image in images %}
          <img src={{ image.source.url}} >
	  <p>{{ image.caption }}</p>
        {% endfor %}
      {% endif %}
      {% endblock %}

      {% block content %}<p>{{ article.content }}</p>
      {% endblock %}
      <p>tags:
      {% block tags %}
	  {% for tag in tags %}
	  <a href={{ tag.url }}>{{ tag.name }}</a>
	  {% endfor %}
      {% endblock %}
      </p>
      <p></p>
    </body>
</html>
{% endblock %}
