{% extends "articles/pagination_base.html" %}

{% load imagefit %}
{% load article_extras %}

{% block list %}

  {% if article_list %}
    {% for article in article_list %}
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <img src="{{ article.coverimage.source|resize:'thumbnail' }}">
          <h2><a href={{ article.get_absolute_url }}>{{ article.title }}</a></h2>
          <a href={{ article.author.get_absolute_url }}>
            {{ article.author.first_name}} {{ article.author.last_name }}
          </a>
          <p>{{ article.summary }}</p>
          {% for tag in tags_urls|keyvalue:article %}
            <li><a href={{ tag.url }}>{{ tag.name }}</a>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  {% else %}
      <p>No articles listed</p>
  {% endif %}

{% endblock %}
