{% extends "base.html" %}

{% load imagefit %}
{% load article_extras %}

{% block content %}

<div class="container">
  {% for article in article_list %}
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <img src="{{ article.coverimage.source|media_resize:'thumbnail' }}">
        <h2>{{ article.title }}</h2>
        <p>{{ article.summary }}</p>
        {% for tag in tags_urls|keyvalue:article %}
          <li><a href={{ tag.url }}>{{ tag.name }}</a>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}
