{% extends "base.html" %}

<head>
  {% block title %}{{ article.title }}{% endblock %}
</head>
{% block body %}
      {% block header %}<p>{{ article.title }}</p>
      {% endblock %}

      {% block author %}<p>by <a href={{ article.author.get_absolute_url}}>
	  {{ article.author.first_name}} {{article.author.last_name}}</a></p>
      {% endblock %}

      {% block images %}{% if images %}
        {% for image in images %}
          <img src={{image.source.url}} >
	  <p>{{ image.caption }}</p>
        {% endfor %}
      {% endif %}
      {% endblock %}

      {% block content %}<p>{{ article.content }}</p>
      {% endblock %}
{% endblock %}
