{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <section class="col-lg-5">
	{% for image in images %}
	  <img src={{MEDIA_URL}}{{ image.source }} />
	{% endfor %}
      </section>
    </div>
  </div>
</div>
<!-- Example row of columns -->
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <h2>{{ article.title }}</h2>
    <a href={{ article.author.get_absolute_url }}>
      {{ article.author.first_name }} {{ article.author.last_name }}
    </a>
    <p>{{ article.content }}</p>
    {% for tag in tags_urls %}
      <a href={{ tag.url }}>{{ tag.name }}</a>
    {% endfor %}
  </div>
</div>

{% endblock %}
