<html>
  <head>
    <title>{% block title %}Jetpack Joust{% endblock %}</title>
  </head>
  <body>
    <div id="header">
      Jetpack Joust
      <div id="navbar">
	<ul>
	  <li><a href="/">Home</a></li>
	  <li><a href="/articles">Articles</a></li>
	  <li><a href="/videos">Videos</a></li>
	  <li><a href="/podcasts">Podcasts</a></li>
	</ul>
      </div>
    </div>
    <div id="content">
      {% block body %}{% endblock%}
    </div>
    <div id="footer">
      About Us will go here.
      Jetpack Joust is open source!  <a href="https://github.com/jetpackjoust/jetpackjoust">Github</a>
      Powered by <a href="https://www.djangoproject.com/">Django</a>
    </div>
  </body>
</html>


