<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jetpack Joust</title>

  <body>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/articles" id="podcasts">Articles</a></li>
            <li><a href="/videos" id="podcasts">Videos</a></li>
            <li><a href="/podcasts" id="podcasts">Podcasts</a></li>

          </ul>
        </div>
     </div>
    </div>
      <div id="content">
	      {% block body %}{% endblock%}
      </div>
</body>
</html>
