<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Jetpack Joust</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/navbar-fixed-top.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>



  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="../static/assets/jetpackjoust_logo.png"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/articles" id="podcasts">Articles</a></li>
            <li><a href="/videos" id="podcasts">Videos</a></li>
            <li><a href="/podcasts" id="podcasts">Podcasts</a></li>
       
          </ul>
        </div>
     </div>
    </div>
    <div class="container">
			<!--
<div id="content">
	      {% block body %}{% endblock%}
	    </div>
-->
	       	
	    	<div class="jumbotron">
	    		<div class="container">
	    	<h1><a href="#">Title of Article here <small>Subtext for header</small></a></h1>
	    	<span class="details"><h5>March 20, 2013 | Matthew Tiger</h5></span>
	    	<p>Tousled wolf cliche, vero paleo incididunt trust fund craft beer Vice chambray exercitation yr. Carles flexitarian mustache banh mi actually, sartorial nulla post-ironic pop-up. Carles pickled kale chips assumenda single-origin coffee, disrupt asymmetrical umami sapiente nesciunt cornhole sartorial tousled meggings. Asymmetrical bicycle rights cornhole Neutra +1. Jean shorts lomo Helvetica twee Schlitz. Paleo meh locavore single-origin coffee voluptate plaid. Brunch Tumblr duis church-key Shoreditch.</p>
	    	<p><a class="btn btn-primary btn-lg">Read more</a></p>
	    	</div>
	    	</div>
	    	
	    	<div class="container">
	    		<div class="row">
					 <div class="col-sm-6 col-md-3">
						<a href="#" class="thumbnail">
							<img src="../static/assets/sample.png">
							</a>
							</div>

		    
		    <div class="col-xs-6 col-md-8">
	    	<div class="article-list">
		    	<article class="title"><h1>GTA5 Sells Out</h1></article>
		    	<span class="details"><h5>March 20, 2013 | Matthew Tiger</h5></span>
		    	<article class="entry"><p>Tousled wolf cliche, vero paleo incididunt trust fund craft beer Vice chambray exercitation yr. Carles flexitarian mustache banh mi actually, sartorial nulla post-ironic pop-up. Carles pickled kale chips assumenda single-origin coffee, disrupt asymmetrical umami sapiente nesciunt cornhole sartorial tousled meggings. Asymmetrical bicycle rights cornhole Neutra +1. Jean shorts lomo Helvetica twee Schlitz. Paleo meh locavore single-origin coffee voluptate plaid. Brunch Tumblr duis church-key Shoreditch. <small><a href="#">Read more...</small></a></p>
		    	
		    	</article>
		    	<article class="tags"><p><small>TAGS </small> : gaming, blah, troll <p></article>	
		    	
	    	</div>
	    	
	    		    		    	
	    	</div>
	    	</div>
	    	</div>
    
		<footer>
		<div class="container">
		<div class="row">
		<div class="col-xs-6 col-md-3"></div>			
			  <div class="col-xs-6 col-md-2">about			  	
			  <ul>
				  	<li><a href="#">who we are</a></li>
				  	<li><a href="#">what we do</a></li>
			  	</ul>
			</div>
		
			  <div class="col-xs-6 col-md-2">socialize
			  	<ul>
				  	<li><a href="#">email</a></li>
				  	<li><a href="#">twitter</a></li>
			  	</ul>
			</div>

			  <div class="col-xs-6 col-md-2">open source ftw
			  	<ul>
				  	<li><a href="#">github</a></li>
				  	<li><a href="#">django</a></li>
			  	</ul>
			</div>
		</div
		</div>
			</footer>
  <!--
  <div class="container">

      <!-- Main component for a primary marketing message or call to action       <div class="jumbotron">
              </div>

    </div>  /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../assets/js/jquery.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
